@use "CONSTANTS" as const;

.accordion{
    max-width: const.$desktopMaxWidth;
    margin: 0 auto;
    h1{
        font-size: 40px;
        letter-spacing: -1px;
        @media screen and (min-width:const.$mobileMaxWidth) {
            font-size: 45px;
            letter-spacing: -2.5px;
        }           
    }
    .accordion_title{
        cursor: pointer;
        display: flex;
        border-bottom: 1px solid const.$extraLightGrey;
        h3{
            font-size: 18px;
            font-weight: 200;
        }
        .plus-minus{
            display: flex;
            align-items: center;            
            margin-left: auto;
            font-size: 32px;
            &::before{
                content: "+";
            }
        }
        &.active{
            border-bottom: 1px solid transparent;
            h3{
                font-weight: 600;
            }
            +.accordion_content{
                display: block;
            }
            .plus-minus:before{
                content: "–";
            }
        }

    }
    .accordion_content{
        display: none;
        border-bottom: 1px solid const.$extraLightGrey;
        padding: const.$spacing;
        padding-top: 0;
        p{
            margin-top: 0;
        }
    }
}