$black: #2b3041;
$pink: #ffe1da;

$blue: #41abc2;
$lightBlue: #e0e8ef;
$darkBlue: #2b3041;

$extraLightGrey: #e4e4e4;
$white: #fff;

$spacing: 20px;

$mobileMaxWidth: 760px;
$tabletMaxWidth: 980px;
$desktopMaxWidth: 1440px;

$fontFamilyBrand: 'Circular', 'Circular Std', 'Open Sans', arial, sans-serif;

