.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(43,48,65,.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;

    &.visible{
        display: flex;
    }

    .popup-inner {
        background: linear-gradient(270deg, rgb(65, 171, 194) 0%, rgb(65, 155, 194) 100%);
        padding: 20px 20px 60px;
        border-radius: 10px;
        position: relative;
        box-shadow: 0 3px 14px 1px rgba(0,0,0,.2);
        width: 450px;
        max-width: 95%;
        max-height: 95%;
        overflow-y: auto        
    }

}