@use "CONSTANTS" as const;

.promotion{
    background-color: const.$pink;
    border-radius: 30px;
    padding: 30px;
    max-width: 920px;
    margin: 0 auto;
    @media screen and (min-width:const.$mobileMaxWidth) {
        display: flex;
        align-items: center;
    }
    .promotion_discount{
        min-width: 75px;
        height: 75px;
        width: 75px;
        line-height: 75px;
        font-family: "HaveHeartTwo";
        letter-spacing: -.04em;
        font-size: 47px;
        text-align: center;
        border-radius: 100%;
        background: const.$black;
        color: const.$lightBlue;
        margin: 0 0 15px 0;     
        @media screen and (min-width:const.$mobileMaxWidth) {
            min-width: 110px;
            width: 110px;
            height: 110px;
            line-height: 110px;
            font-size: 70px;
            margin: 0 15px 0 0;
        }          
    }
    .promotion_text{
        background-color: none;
    }
}