@use "CONSTANTS" as const;

.skipperi-hobs{
    .map{
        height: 70vh;
        width: 100%;
        overflow: hidden;
        z-index: 1;
        border-radius: 10px;
        position: relative;
        outline: none;
    }
    .map-location-buttons{
        div{
            display: inline;
            button{
                background: none;
                padding: 0;
                border: 2px solid const.$black;
                border-radius: 9em;
                color: const.$black;
                padding: 8px 20px;
                outline: none;
                font-size: 13px;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
                transition: background-color .2s,border-color .2s,opacity .3s;
                margin-right: 7.5px;
                margin-bottom: 7.5px;
            }
        }
    }
}