@use "CONSTANTS" as const;

.subscribe-action-bar{
    position: fixed;
    bottom: 0;
    left: 0;    
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: const.$white;
    box-shadow: -1px 0 15px rgba(0,0,0,.3);
}