@use "CONSTANTS" as const;

@use "header";
@use "lists";
@use "table";
@use "menu";

*,
*:before,
*:after{
    box-sizing: border-box;
}  

body{
    font-family: const.$fontFamilyBrand;
    margin: 0;
}

button, .button{
    padding: 0;
    border: 0;
    background: none;
}

img{
    max-width: 100%;
    vertical-align: middle;
}
